.app {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(90deg, #002f52 35%, #326589 75%);
}

.app-header {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.opcoes {
  display: flex;
}

.opcao {
  min-width: 120px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
}

.icones {
  display: flex;
  align-items: center;
}

.icone {
  margin-right: 40px;
  width: 25px;
}

li {
  list-style: none;
}
